<!-- BIG CONTAINER TEMPLATE -->

<div class="container-fluid" id="bigcontainer">

    <div class="container-fluid" id="background">
        

        <% if(!isLogged) { %>
            <div class = "row align-items-center body-row">
                <div class="page-title col-12">
                    <h1 class="display-2" style="color:rgb(0, 0, 0, 0.9)">Musikult </h1>
                    <h1 class="display-3" style="color:rgba(40, 40, 40, 0.9);margin-top: 320px;">Your music portal</h2>
                </div>
            </div>     
        
        <div style = "padding-top: 40px;"></div>
            <div class= "container-fluid">
                <div class = "row justify-content-center">
                    <div class = "col-sm-3">    
                        <button type="button" class="btn btn-success btn-lg rounded-pill" id="spotifyButton" onclick="spotifyLogin()">
                            Connect to Spotify 
                        </button> 
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <% if(isLogged) { %>
        <% if(inf.information[0].image) {%>
            <img src=<%= inf.information[0].image%> class="header-image">
        <% } else { %>
            <div class= "header-image" style="background-color: #051620"></div>
        <% } %>
     
        <div class="container-fluid" style="position: relative;">
            <div class="row justify-content-start" style="padding-top: 200px; padding-left: 50px;" >
                <div class= "container song-title col-12">
                    <h1 class="display-3" style="color: rgba(255, 255, 255, 0.950)"> <%= inf.information[0].name %> </h1>
                </div>
            </div>
        </div>
        
        <%- include('smallContainer'); %>
    <% } %> 

</div>
