<!-- BIG CONTAINER TEMPLATE -->

<div class="container-fluid" id="bigcontainer">

    <div class="container-fluid" id="background">
        <div class="page-title">
            <h1 class="display-2" style="color:rgb(216, 163, 29)">Musikult </h1>
            <h1 class="display-3" style="color:white; padding-left: 238px;">Your music portal</h2>
        </div>
        
        <div style = "padding-top: 40px;"></div>

        <% if(!isLogged) { %>
            <div class= "container-fluid">
                <div class = "row justify-content-center">
                    <div class = "col-sm-3">    
                        <button type="button" class="btn btn-success btn-lg" id="spotifyButton" onclick="spotifyLogin()">
                            Connect to Spotify 
                        </button> 
                    </div>
                </div>
            </div>
        <% } %>
    </div>

    <% if(isLogged) { %>
        <%- include('smallContainer'); %>
    <% } %> 

</div>