<!-- BIG CONTAINER TEMPLATE -->

<div class="container-fluid" id="bigcontainer">

    <div class="container-fluid" id="background">
        

        <% if(!isLogged) { %>
            <div class = "row align-items-center body-row" style="height: 100vh;">
                <div class="page-title col-12">
                    <h1 class="display-2" style="color:rgb(0, 0, 0, 0.9)" >Musikult </h1>
                    <h1 class="display-3" style="color:rgba(40, 40, 40, 0.9);margin-top: 320px;">Your music portal</h2>
                </div>
            </div>     
        
        <% } %>
    </div>

    <% if(isLogged) { %>
        
        <%- include('smallContainer'); %>

    <% } %> 

</div>
