<!-- HEADER TEMPLATE -->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Musikult</title>
<link rel="shortcut icon" type="image/png" href="img/icon.png">

<link rel="stylesheet" href="style/bootstrap.min.css">
<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" href="style/navbar.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sarabun:wght@600&display=swap">