<!-- NAVBAR TEMPLATE -->

<nav class="navbar navbar-expand-lg navbar fixed-top navbar-dark">
    <a class="navbar-brand logo" href="http://localhost:3000"> 
        <img class="icon" src="../img/icon.png"> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button type="button" class="btn btn-success btn-lg rounded-pill" id="spotifyButton" onclick="spotifyLogin()">
        Connect to Spotify 
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            
        </ul>
        <form class="form-inline my-2 my-lg-0" id="search-bar" action="" >
            <input id="search-field" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>

<div class = "container-fluid search-box-container">
    <div class = "row justify-content-end">
        <div class = "container-fluid col-4 search-box">
            <div class='row' id='tab'></div>
        </div>
    </div>  
</div>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"> </script>

<script src = '../script/navbarScript.js'></script>

<script> 
    var url = new URL(window.location.href);
    var token = url.searchParams.get("access_token");
    if(token) {
        $(document).ready(function() {
            $(".logo").attr("href", "http://localhost:3000?access_token=" + token);
        })
    }
</script>


