<!-- NAVBAR TEMPLATE -->

<nav class="navbar navbar-expand-lg navbar fixed-top navbar-dark" style="background-color: #02111b;">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Chart1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Chart2</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="http://localhost:3000/search" method="post">
            <input id="search-field" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<script type="text/javascript" language="javascript">

    if (!"WebSocket" in window) alert("WebSocket not supported by your browser");

    var socket = new WebSocket('ws://localhost:4000/');

    socket.onopen = function() {
        console.log('[WEBSOCKET] Connessione con il server stabilita');
        // send data to the server
        socket.send('Il client ti saluta 👋');
    }

    // When data is received
    socket.onmessage = function(event) {
        console.log(event.data);
        var div = document.getElementById('webSocketDiv');
        div.innerHTML += event.data + "<br>"
    }

    // A connection could not be made
    socket.onerror = function(event) {
        console.log(event);
    }

    // A connection was closed
    socket.onclose = function(code, reason) {
        console.log(code, reason);
    }

    // Close the connection when the window is closed
    window.addEventListener('beforeunload', function() {
        socket.close();
    });

</script>
        
