<div id="smallcontainer">
    <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
            <div class="col-sm-3">
                Qui va una copertina
                <div style="padding-top: 100px;"> Nome brano</div>
            </div>
        </div>
    </div>

</div>