#****************************************************************#
#                           GITIGNORE                            #
#****************************************************************#

##GITHUB WILL IGNORE FILES AND FOLDERS THAT ARE CALLED HERE

##node_modules folders
/node_modules

##keys.js files
#keys.js #DECOMMENT THIS LINE TO NOT PUSH CLIENT IDS AND SECRET KEYS IN THE REPOSITORY