#****************************************************************#
#                           GITIGNORE                            #
#****************************************************************#

##GITHUB WILL IGNORE FILES AND FOLDERS THAT ARE CALLED HERE

##node_modules folders
/node_modules

/package-lock.json

##keys.js files
keys.js
