<!-- HOME PAGE TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body style="background-color: #051825;">

    <%- include('partials/navbar'); -%>

    <%- include('partials/bigContainer'); %> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"> </script>

    <script src="script/script.js"></script>

</body>
</html>