<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musikult</title>

    <link rel="stylesheet" href="bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body style="background-color: #051825;">

    <nav class="navbar navbar-expand-lg navbar fixed-top navbar-dark" style="background-color: #02111b;">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Chart1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Chart2</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="http://localhost:3000/search" method="post">
            <input id="search-field" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
        
    </div>

    <div class="container-fluid" id="bigcontainer">

        <div class="container-fluid" id="background">
            <h1>Musikult </h1>
            <h2>Your music portal</h2>
        </div>
    
        <div id="smallcontainer">
            <div class="container" style="background-color: white;">
                <div class="row">
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                    <div class="col-sm-3">
                        Qui va una copertina
                        <div style="padding-top: 100px;"> Nome brano</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"> </script>

    <script src="script.js"></script>

</body>
</html>