<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova</title>
</head>
<body style="padding-top:100px;">

    <div id = "container" style="position: relative;"> 
        <div style = "padding-bottom:500px ; background-color:blue; height:200px; width:200px; position:fixed; overflow: hidden;z-index: -1;">
            Testo
        </div>
        <div style="padding-top: 300px;"> 
            <p  > 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br> 
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
                Questo è un testo <br>
            </p>
        </div>

    </div>
    
    
</body>
</html>