<!-- THANK PAGE TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); -%>
</head>
<body>

    <%- include('partials/navbar'); -%>

    <div class = "row align-items-center" style="height: 100vh;">
        <div class="page-title col-12" style="padding-bottom: 20px;">
            <h1 class="display-3" style="color: rgba(0, 0, 0, 0.85); text-align: center;">
                Thanks for contributing to Musikult :)
           </h1>
           <h1 class="display-4" style="padding-top: 50px; text-align: center; margin-top: 320px;"> 
               <a href="javascript:linkClicked()"> Go back to the song page </a>
           </h1>
        </div>
    </div>     
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script/bootstrap.min.js"> </script>

    <script>
        function linkClicked() {
            window.location.href = "http://localhost:3000/songs" + window.location.search;
        }
    </script>

</body>
</html>


