.navbar {
    background-color: rgb(255, 255, 255, 0);
}

.header-image {

    width: 100%;
   /* margin-top: -20%;
    margin-bottom: -20%;*/
}

.song-image {

    width: 100%;
    height: auto; 
    border: 2px solid #ddd;
    border-radius: 8px;

}
.song-image-container {
    height: 0px;
}

.lyrics {
    color: white;
}

