
body {

    background-image: url(../img/icon.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: 200px;

    background-color: rgb(235, 235, 235); 

    overflow-x: hidden;

}
.display-2 {

    font-family: 'Sarabun', sans-serif;

}

.display-3 {

    font-family: 'Sarabun', sans-serif;

}

.display-4 {

    font-family: 'Sarabun', sans-serif;

}