body {
    padding-top: 0px;
}

#bigcontainer {
    position: relative;
}
 
#background {
    position: fixed;

    overflow: hidden;
    z-index: -1;

}

#smallcontainer {
    padding-top: 400px;
    position: relative;
    z-index: 500;
}

h1 {

   padding-right:130px;
   padding-top: 140px;
   text-align: center;

   font-size: 80px;
   color: rgb(194, 160, 10);
}
h2 {
     
   padding-left: 30px;
   text-align: center;

   font-size: 60px;
   color: rgb(255, 255, 255);
}



